html,
body {
  margin: 0px !important;
  overflow-x: hidden;
  width: 100% !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General */
a {
  color: #d91d6d;
}

/* Common Classes */
.h-100 {
  height: 100vh;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg-white {
  background: #fff;
}

/* Padding */
.p-1 {
  padding: 8px;
}
.p-12 {
  padding: 96px;
}

/* Margin */
.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

/* Custom */
.oma-form label {
  font-size: 16px;
  font-weight: 500;
}

.oma-form .ant-input,
.oma-form .ant-input-number-input,
.omf-form .ant-select-selection-search-input {
  font-size: 16px;
  line-height: 2;
  height: 38px;
}

.oma-form .ant-form-item {
  margin-bottom: 17px;
}

.ant-btn {
  height: 37px !important;
  width: 150px;
  font-size: 16px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #d91d6d !important;
  border-color: #d91d6d !important;
}

.ant-btn-pink {
  color: #fff !important;
  border-color: #d91d6d !important;
  background: #d91d6d !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
}

.ant-menu-item-selected {
  background-color: #d91d6d !important;
}

/* Extend */

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
/* Chrome, Safari, Edge, Opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* / Firefox / */
input[type="number"] {
  -moz-appearance: textfield;
}
