btn-add {
  float: right;
}
//IPAD Landscape and Portrait CSS
@media (min-width: 768px) and (max-width: 1023px) {
  .form_row {
    justify-content: space-between;
    .form_col {
      max-width: 75% !important;
    }
    .form_back_col {
      max-width: 25% !important;
    }
  }
}
//Mobile Landscape CSS
@media (min-width: 481px) and (max-width: 767px) {
  .form_col {
    max-width: 75%;
  }
  .ant-form-item-row {
    gap: 7px;
    .ant-form-item-label {
      flex: 15%;
      max-width: 15%;
    }
  }
  .ant-upload {
    width: 100%;
    button.ant-btn {
      width: 100%;
    }
  }
  .submit {
    .ant-form-item-control {
      margin: 0 !important;
      text-align: center;
      max-width: 100%;
    }
  }
}
// Mobile Portrait CSS
@media (min-width: 320px) and (max-width: 480px) {
  .form_row {
    justify-content: space-between;
    .form_col {
      max-width: 65% !important;
    }
    .form_back_col {
      max-width: 35% !important;
      .back_btn {
        width: max-content;
      }
    }
  }
  .ant-upload {
    width: 100%;
    button.ant-btn {
      width: 100%;
    }
  }
  .submit {
    .ant-form-item-control {
      margin: 0 !important;
      text-align: center;
    }
  }
}
